*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header{
    background-color: #000000;
    height: 150px;
}
.container-grid {
    width: 1200px;
    margin: 0 auto;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu {
    height: 70px;
    width: 197px;
    display: grid;
    justify-content: baseline;
    color: white;
}
.menu. {
    color: white;
}